# Ignore Python virtual environments
venv/
.venv/

# Ignore Git and version control files
.git
.gitignore

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Ignore environment variable files
.env
.env.*

# Ignore Docker-related files
docker-compose.override.yml
docker-compose.yml
Dockerfile
.dockerignore

# Ignore system files and temporary files
.DS_Store
Thumbs.db
*.swp
*.log
*.tmp
*.bak

# Ignore IDE or editor directories
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore build and distribution directories
build/
dist/
*.egg-info/
.eggs/
site/
local/

# Ignore data-related files
*.csv
*.tsv
*.xlsx
*.xls
*.parquet
*.feather
*.hdf5
*.db
*.sqlite
*.zip
*.tar
*.gz
*.pickle
*.joblib
*.sav

# Ignore large datasets (place in 'data' directory)
data/
*.npy
*.npz

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore test-related directories and coverage reports
.tox/
.pytest_cache/
coverage/
.coverage
htmlcov/

# Ignore Streamlit cache
.streamlit/

# Ignore Terraform files
*.tfstate
*.tfstate.backup
.terraform/

# Ignore logs and debugging artifacts
logs/
*.log

# Ignore miscellaneous temporary files
*.~*
*.swp
*.tmp
*.bak
*.out
*.err


# Ignore configuration backups
*.config.old
*.config.bak

# Ignore other unnecessary directories
node_modules/
yarn-error.log
npm-debug.log
